@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
    display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
    cursor: pointer;
   }

   strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
   }

   em { font-style: italic; }

   img {
    border: 0;
    vertical-align: middle;
   }

   sub,
   sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
 }

 /* ======= Your styling goes below ======= */

.wrapper {
  width: 70%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, .1);
}

*,a,p {
  list-style-type: none;  
  text-decoration: none;
  font-family: sans-serif;
}

header{
  width: 100%;
  position: absolute;
  z-index: 1;
}

h1 {
  width: 15%;
  padding-top: 10px;
  display: inline-block;
  vertical-align: top;
}

h1 img{
  width: 100%;
  max-width: 133px;  
}

.hamburger {
  padding-top: 20px;
  display: inline-block;
  vertical-align: top;
  float: right;
}

.hamburger .nav-li {
  padding: 5px 15px;
  display: inline-block;
}

.nav-li:last-child {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  vertical-align: middle;
}

.nav-li:last-child::after {
  content: '';   
}

.nav-li a {
  border-bottom: 2px solid transparent;
  color: #fff;
  font-size: 12px;
  transition: all .5s linear;
}

.nav-li a:hover {
  border-bottom: 2px solid #f00;
  color: #f00;
}

.slider1 li img { width: 100%; }

.dot {
  position: absolute;
  bottom: 40px;
  border: 1px solid #3aabd9;
  border-radius: 50%;
  color: #b3c3c9;
}

.slick-active .dot { color: #3aabd9; }
.dot:hover { color: #3aabd9; }

.imgs {
  position: relative;
}

.bannertext {
  margin-left: 1%;
  position: absolute;
  top: 50%;  
  transform: translateY(-50%);
}

.bannertext h2 {
  color: #fff;
  font-size: 31px;
  font-weight: 700;
}

.bannertext p {
  margin: 20px 0 40px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.bannertext .getstarted-btn,
.bannertext .whyansible-btn {
  padding: 10px 20px;  
  font-size: 12px;
  font-weight: 700;
  transition: all .5s linear;
}

.bannertext .getstarted-btn {
  border: 1px solid #cc0e00;
  background-color: #cc0e00;
  color: #fff;
}

.bannertext .getstarted-btn:hover {
  border: 1px solid #cc0e00;
  background-color: #fff;
  color: #cc0e00;
}

.bannertext .whyansible-btn {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.bannertext .whyansible-btn:hover {
  border: 1px solid #cc0e00;
  background-color: #fff;
  color: #cc0e00;
}

/* IT Automation styling */

.itautomation h3 {
  width: 50%;
  padding-top: 55px; 
  margin: 0 auto;
  color: #222;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
}

.itautomation .wrapper > p {
  width: 60%;
  margin: 0 auto;
  padding: 20px 0 40px;
  color: #777;
  font-size: 13px;
  line-height: 1.4;
  text-align: center;
}

.itauto-main-ul > li {
  width: 24.3%;
  display: inline-block;
  vertical-align: top;
}

.itauto-sub-ul {
  width: 90%;
}

.itauto-sub-ul h4 {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  color: #222;
  font-size: 16px;
  font-weight: 500;
}

.itauto-sub-ul p {
  padding: 25px 0;
  color: #777;
  font-size: 14px;
}

.howansibleworks-link {
  border-bottom: 1px solid transparent;
  float: right;
  color: #337fc7;
  font-size: 12px;
  transition: all .5s linear;
}

.howansibleworks-link:hover {
  border-bottom: 1px solid #337fc7;
}

.ansible-prod-int-img {
  padding-top: 80px; 
}

.ansible-prod-int-img img {
  width: 100%;
}

